<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dashboard</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
 </head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #FF9B01;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:white">House Rental Service</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <th:block th:if="${role} =='user'">
      <li class="nav-item">
          <a class="nav-link active" style="color:green" aria-current="page" href="/user">Home</a>
        </li>
        </li>
      </th:block>

      </ul>
      <form class="d-flex" role="search" action="#" th:action=@{/searchHouse} method="post">
       <div class="dropdown me-2">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <i class="bi bi-funnel" style="color:white;"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button"><a href="/filter" style="color:black;text-decoration:none">Filter</a></button>
		  
		  </div>
		</div>  
        <input class="form-control me-2" type="search" placeholder="Search" name="searchKey" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>  
        <div class="dropdown me-2">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <i class="bi bi-person-circle" style="color:white;"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button"><a href="/profile" style="color:black;text-decoration:none">Profile</a></button>
		  
		  </div>
		</div>     
        <button class="btn btn-primary me-2"><a href="/login" style="color:white;text-decoration:none">Logout</a></button>
      </form>
    </div>
  </div>
</nav><br>
<div class="container">

 			<div class="card col-6 mt-3" style="margin:20px;">
                 <div class="card-horizontal">
                    <!-- <div class="img-wrapper">
                        <img style="width:600px;height:500px; margin:20px;" th:src="@{'data:image/jpeg;base64,' + ${houseDetails.housePhoto}}" alt="" />
                    </div> -->
                    <div class="card-body">
                        <h4 class="card-title">
                         Name:
     						<th:block  th:text="${house.houseName}">
     						</th:block>
                        </h4>
                         <li class="list-group-item"  >
					    Number of Bedrooms:
     						<th:block th:text="${house.noOfBedrooms}">
     						</th:block>
					    </li>
					    
					     <li class="list-group-item"  >
					    Number of Bathrooms:
     						<th:block th:text="${house.noOfBathrooms}">
     						</th:block>
					    </li>
                       
                    </div>
                    <ul class="list-group list-group-flush">
					     <li class="list-group-item">
					      Address:
     						<th:block th:text="${house.doorNo}">
     						</th:block>, <th:block th:text="${house.street}">
     						</th:block>, <th:block th:text="${house.city}">
     						</th:block>, <th:block th:text="${house.zipCode}">
     						</th:block>
					     </li>
					<!--     <li class="list-group-item"  >
					    Contact:
     						<th:block th:text="${house.houseContact}">
     						</th:block>
					    </li>
 -->					    <li class="list-group-item" >
					     Mail:
     						<th:block th:text="${house.houseOwnerMail}">
     						</th:block>
					    </li>
  					</ul>
				  <div class="card-body">
				     <h5 class="card-title" >
				     Rent:
				     <th:block th:text="${house.houseRent}">
				     </th:block> $ per month
				     </h5>
				    <p class="card-text">
				    Type:
				     <th:block  th:text="${house.houseType}">
				     </th:block>
				    </p>
				     <p class="card-text">
				    Parking Availability:
				     <th:block  th:text="${house.parking}">
				     </th:block>
				    </p>
				      <p class="card-text">
				    Pet Friendly:
				     <th:block  th:text="${house.petFriendly}">
				     </th:block>
				    </p>
				     <p class="card-text">
				    Lawn Availability:
				     <th:block  th:text="${house.lawn}">
				     </th:block>
				  </div>
                </div>                
                <div class="card-footer">
                   
	  			<a style="margin-bottom:10px;" class="btn btn-primary" th:href="@{'/reserveHouse/' + ${house.Id}}">Reserve House</a>
	  			<br>
	  			<!-- <a style="margin-bottom:10px;" class="btn btn-primary" th:href="@{'/bookHouse/' + ${house.Id}}">Book House</a><br> -->
	  			<a style="margin-bottom:10px;" class="btn btn-primary" th:href="@{'/appointment/' + ${house.Id}}">Book Appointment</a>
	  			<!--   <form action="#" th:action="@{'/addToFavourites/' + ${house.Id}}" method="post">
			  <button type="submit" class="btn btn-success">
	  			Add To Favourites
			 </button>
		   </form> -->
                </div>
                
                 <!-- <div class="card-footer">
                 
                 <div th:if="${isliked} == 1">
   					<a style="margin-bottom:10px;" class="btn btn-dark" th:href="@{'/likeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-up"></i></a>
	  					
	  			
				</div>
				
				<div th:if="${isliked} == 0">
   					<a style="margin-bottom:10px;" class="btn btn-light" th:href="@{'/likeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-up"></i></a>
	  					
	  			
				</div>
				
				<div th:if="${isdisliked} == 0">
   					<a style="margin-bottom:10px;" class="btn btn-light" th:href="@{'/disLikeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-down"></i></a>	
	  			
				</div>
				
				<div th:if="${isdisliked} == 1">
   					<a style="margin-bottom:10px;" class="btn btn-dark" th:href="@{'/disLikeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-down"></i></a>
				</div>
					 
				
					  
				
                   
	  			<a style="margin-bottom:10px;" class="btn btn-light" th:href="@{'/likeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-up"></i></a>
	  			<a style="margin-bottom:10px;" class="btn btn-light" th:href="@{'/disLikeHouse/' + ${house.Id}}"><i class="bi bi-hand-thumbs-down"></i></a>
	  			
                </div> -->
            </div>



</div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>